.place__title {
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    width: calc(100% - 16px*2);
    margin: 0 auto;

    font-size: 32px;
  }
}
