.page__header {
  width: calc(100% - 48px*2);
  margin: 28px auto 0;
}

@media screen and (max-width: 1023px) {
  .page__header {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .page__header {
    width: calc(100% - 16px*2);
    margin-top: 16px;
  }
}
