.lead {
  width: calc(100% - 148px*2);
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px*2);
    margin-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}
