.header__logo {
  width: 176px;
  height: 52px;
  transition: opacity .3s linear;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
