.page__intro {
  max-width: 690px;
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1279px) {
  .page__intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .page__intro {
    max-width: calc(100% - 24px*2);
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .page__intro {
    max-width: calc(100% - 16px*2);
    margin-top: 64px;
  }
}
