.lead__title {
  max-width: 720px;
  margin: 0;

  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 580px;
    font-size: 70px;
  }
}

@media screen and (max-width: 575px) {
  .lead__title {
    max-width: 288px;

    font-size: 40px;
    line-height: 1.1;
  }
}
