.cover {
  width: calc(100% - 48px*2);
  min-height: 740px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../../images/cover-trains.jpg') center center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.cover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #2A2C2F;
  opacity: 0;
  transition: opacity .4s ease;
}

.cover:hover:before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 340px;
    margin-top: 66px;
  }
}

@media screen and (max-width: 575px) {
  .cover {
    min-height: 200px;
  }
}
