.cover {
  height: 740px;
  background: url('../../images/cover-trains.jpg') center center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.cover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #2a2c2f;
  opacity: 0;
  transition: opacity .4s ease;
}

.cover:hover:before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover {
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    height: 340px;
  }
}

@media screen and (max-width: 575px) {
  .cover {
    height: 200px;
  }
}
