.places__place {
  margin-top: 80px;
}

.places__place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .places__place {
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    margin-top: 50px;
  }
}
