.page__places {
  width: calc(100% - 148px*2);
  margin: 92px auto 0;
}

@media screen and (max-width: 1279px) {
  .page__places {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 1023px) {
  .page__places {
    width: calc(100% - 24px*2);
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .page__places {
    width: 100%;
    margin-top: 64px;
  }
}
