.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 1.4;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
