.cover__title {
  max-width: 560px;
  margin: 0 auto;
  font-weight: 900px;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 350px;
    font-size: 48px;
  }
}

@media screen and (max-width: 575px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
  }
}
