.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 575px) {
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
