.page__section {
  width: calc(100% - 48px*2);
}

@media screen and (max-width: 1023px) {
  ..page__section {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .page__section {
    width: calc(100% - 16px*2);
  }
}
