.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  text-align: left;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
