.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
