.place_margins_top {
  margin-top: 80px;
}

.place_margins_top:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .place_margins_top {
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place_margins_top {
    margin-top: 50px;
  }
}
